body
{
    display: flex;
    margin-top: 350px;
    justify-content: center;
    align-items: center;
}
.edge
{
    height: 150px;
    width: 150px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s , border-radius 2s;
}
.edge:hover
{
    transform: rotate(75deg);
    border-radius: 50%;
    box-shadow: 200px forestgreen;
}