/* body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
h1
{
    text-align: center;
    margin-top: 56px;
    margin-bottom: 70px;
    font-family: 'Times New Roman', Times, serif;
}
/* animation start here  */
@keyframes slider {
    from
    {
        background-color: aqua;
        left: 0px;

    }
    to
    {
        
        background-color: crimson;
        left: 400px;
    }
}
/* okh anymation end */
.stage
{
    width: 500px;
    height: 300px;
    background-color: lightcyan;
    border: 2px solid lightgreen;
}
.ball
{
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: lightpink;
    border-radius: 50%;
    animation: slider 1s ease-in-out 0.5s alternate infinite ;
}